<nav class="nav">
  <div class="button-burger position-absolute">    
  </div>

  <div class="mx-auto">
    <div class="position-relative">
      <div class="mt-5 d-flex align-items-center justify-content-center">
        <img class="img-container" src="../../../../assets/images/logos/potato.png" alt="" />
      </div>
      <div class="menu-content position-absolute">
        <h6>MENU</h6>
        <hr />
        <ul class="mb-5">
          <li class="">
            <a
              class="d-flex"
              routerLink="/dashboard/home"
              routerLinkActive="active"
            >
              <div class="iconos">
                <i class="fa-solid fa-house"></i>
              </div>
              Home
            </a>
          </li>

          <li class="">
            <a
              class="d-flex"
              routerLink="/dashboard/users"
              routerLinkActive="active"
            >
              <div class="iconos">
                <i class="fa-solid fa-money-check"></i>
              </div>
              Users</a
            >
          </li>
        </ul>
      </div>
    </div>

    <div class="water-mark">
      <h6 class="fs-6">Developed by <b>David Muñoz</b></h6>
    </div>
  </div>
</nav>
