<div class="row">
  <div
    class="login p-5 col-lg-8 position-absolute start-50 top-50 translate-middle"
  >
    <div class="row">
      <div class="col-lg-6 d-flex align-items-center justify-content-center">
        <img
          class="w-60 image-potato"
          src="../../../../../assets/images/logos/potato.png"
          alt=""
        />
      </div>
      <div class="col-lg-6 my-auto">
        <h2 class="mb-5 text-center">Login</h2>
        <form action="" [formGroup]="myForm">
          <div>
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>User Name</mat-label>
              <input
                formControlName="log_name"
                type="text"
                matInput
                placeholder=""
                value=""
              />              
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="w-100" appearance="fill">
              <button (click)="changeEyePass()" class="eye_button">
                <i class="fa-solid fa-eye"></i>
              </button>
              <mat-label>Password</mat-label>
              <input
                formControlName="log_pass"
                type="password"
                matInput
                placeholder=""
                value=""
                [type]="type_input"
              />
              <!-- <div class="validacion">
                <span *ngIf="myForm.get('log_pass').invalid &&myForm.get('log_pass').touched">
                  This field is mandatory
                </span>
              </div> -->
            </mat-form-field>
          </div>
          <button
            [disabled]="myForm.invalid"
            (click)="loginClient()"
            type="button"
            class="btn buttons px-4 btn-secondary w-100 mb-3"
          >
            Login
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
