<div class="row">
  <div class="d-flex">
    <span class="d-flex align-items-center me-1">
      <i class="fa-solid fa-globe"></i>
    </span>
    <p class="d-flex m-0 me-2 align-items-center">
      {{ "language" | translate }}
    </p>
    <app-switch-lang></app-switch-lang>
  </div>
  <div
    class="login p-5 col-lg-8 position-absolute start-50 top-50 translate-middle"
  >
    <div class="row">
      <div class="col-lg-6 d-flex align-items-center justify-content-center">
        <img
          class="w-60 image-potato"
          src="../../../../../assets/images/logos/potato.png"
          alt=""
        />
      </div>
      <div class="col-lg-6 my-auto">
        <h2 class="mb-5 text-center">{{ "loginTitle" | translate }}</h2>
        <form action="" [formGroup]="myForm">
          <div>
            <mat-form-field class="w-100" appearance="fill">
              <mat-label>{{ "userInput" | translate }}</mat-label>
              <input
                formControlName="log_name"
                type="text"
                matInput
                placeholder=""
                value=""
              />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="w-100" appearance="fill">
              <button (click)="changeEyePass()" class="eye_button">
                <i class="fa-solid fa-eye"></i>
              </button>
              <mat-label>{{ "passInput" | translate }}</mat-label>
              <input
                formControlName="log_pass"
                type="password"
                matInput
                placeholder=""
                value=""
                [type]="type_input"
              />
            </mat-form-field>
          </div>
          <button
            [disabled]="myForm.invalid"
            (click)="loginClient()"
            type="button"
            class="btn buttons px-4 btn-secondary w-100 mb-3"
          >
            {{ "buttonLogin" | translate }}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
